.FU_main {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  width: 100%;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 15px;
  color: #ffffff;
}


.FU_main h1{
    margin-bottom: 50px;
}